* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}

.section.first {
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.headerlinks ul {
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    list-style-type: none;
}

.headerlinks ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
}
.headerlinks ul li a:hover {
    background-color: #263141;
}

.hero {
    display: flex;
    padding: 75px;
    gap: 30px;
}

.hero > * {
    flex: 1 1 0px;
}

.heroleft > * {
    margin: 10px 0px;
}

.herotitle {
    font-size: 38px;
    font-weight: bold;
}

.herosubtitle {
    color:#ffffffac
}

button {
    background-color: #276fd5;
    padding: 10px 25px;
    color: white;
    font-size: 18px;
    border-width: 0;
    border-radius: 12px;
    box-shadow: 0px 2px 13px #276fd554;
}

button:hover {
    background-color: #cddaee;
    color: #135bc1;
    cursor: pointer;
    box-shadow: 0px 2px 10px #c0bcff39;
}

.heroright {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}