* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}

.hero {
    background-color: #1f2937;
}

.herocontent{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
}

.heroheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerlogo {
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.headerlinks {
    display: flex;
    flex-direction: row;
}

.headerlinks li {
    list-style-type: none;
    padding-inline-start: 0;
}

.headerlinks li a {
    text-decoration: none;
    padding: 12px;
    color: #e5e7eb;
    border-radius: 10px;
}
.headerlinks li a:hover{
    background-color: #2b3747;
}

.heroinfo {
    display: flex;
    flex-direction: row;
    margin: 100px 0px;
    gap: 50px;
}

.heroinfotext {
    color: white;
    flex: 1 1 0px;
}

.herotitle {
    font-size: 36px;
    font-weight: bold;
}

.herosubtitle {
    color: rgb(201, 201, 201);
    margin: 15px 0;
    
}

.button a {
    color: white;
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.button a:hover {
    background-color: #3075e5;
    color: rgb(231, 231, 231);
}

.heroinfopic {
    flex: 1 1 0px;
    width: 100%;
    background-color: rgb(101, 101, 101);
    text-align: center;
}